.action-btn {
  width: 104px;
  height: 48px;
  background: var(--accent);
  border-radius: var(--borderRadius8);
  font-family: var(--font);
  color: var(--primaryClr);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 250ms ease;

  &:hover {
    background-color: var(--hoverClr);
  }
}

.text-btn {
  background: transparent;
  font-family: var(--font);
  color: var(--accent);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  transition: 250ms ease;

  .icon {
    font-size: 12px;
    margin-right: 8px;
  }

  &:hover {
    color: var(--hoverClr);
  }
}

.vote-btn {
  width: fit-content;
  background: none;
  border: none;
  color: var(--hoverClr);
  cursor: pointer;
  transition: 250ms ease;

  &:hover {
    color: var(--accent);
  }
}
