/* Imports */

@import "../styles/buttons.css";
@import "../components/vote.css";

/* Reset & Utilities */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Variables */
:root {
  --backgroundClr: #f5f6fa;
  --primaryClr: #ffffff;
  --accent: #5357b6;
  --headingClr: #334253;
  --textClr: #67727e;
  --warningClr: #ed6368;
  --borderClr: #e9ebf0;
  --hoverClr: #c5c6ef;

  --borderRadius8: 8px;
  --font: "Rubik", sans-serif;
  --inspect: solid red 1px;
}

body {
  font-family: var(--font);
  background: var(--backgroundClr);
  min-height: 100vh;
  padding: 0 16px;
  border: 1px solid var(--backgroundClr);
}

main {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 730px;
  border: var(--inspect);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
