/* Init */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.text-btn {
  border: none;
  background: none;
  height: fit-content;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: 300ms ease;
}

.action-btn {
  border: none;
  border-radius: var(--borderRadius8);
  background: var(--accent);
  color: var(--primaryClr);
  width: 104px;
  height: 48px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: 300ms ease;

  &:hover {
    background-color: var(--transparant);
  }
}

/* Variables */
:root {
  --backgroundClr: #f5f6fa;
  --primaryClr: #ffffff;
  --accent: #5357b6;
  --transparant: #c5c6ef;
  --headingClr: #334253;
  --textClr: #67727e;
  --warningClr: #ed6368;
  --borderClr: #e9ebf0;

  --borderRadius8: 8px;
  --font: "Rubik", sans-serif;
  --inspect: solid red 1px;
}

/* Main */
body {
  font-family: var(--font);
  background: var(--backgroundClr);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  margin: 60px 16px;
  /* border: var(--inspect); */
  width: 90vw;
  max-width: 730px;
}

/* Comments List */

/* Comment & Reply components */

.single-comment,
.single-reply {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 170px;
  background: var(--primaryClr);
  padding: 24px;
  border-radius: var(--borderRadius8);

  .comment-wrapper,
  .reply-wrapper {
    /* border: var(--inspect); */
    width: 100%;

    .comment-header,
    .reply-header {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .user-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;

        & img {
          width: 32px;
        }
        .user-name {
          font-size: 1rem;
          font-weight: 500;
          color: var(--headingClr);
        }
        .user-flag {
          border-radius: 2px;
          border: none;
          padding: 3px 6px;
          background: var(--accent);
          color: var(--primaryClr);
          font-size: 0.813rem;
          font-weight: 500;
        }
        .date {
          font-size: 1rem;
          font-weight: 400;
          color: var(--textClr);
        }
      }
      .reply-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--accent);

        &:hover {
          color: var(--transparant);
        }
      }
    }
    .content-text {
      font-size: 1rem;
      font-weight: 400;
      color: var(--textClr);
      line-height: 24px;

      & span {
        margin-right: 5px;
        font-weight: 500;
        color: var(--accent);
      }
    }
  }
}

/* Reply component specific */
.replies-container {
  margin-left: 40px;
  padding-left: 40px;
  border-left: 3px solid var(--borderClr);
}

/* Upvote component */
.upvote-container {
  border-radius: 10px;
  height: 100px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--backgroundClr);

  .votes {
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent);
  }
  .vote-btn {
    font-size: 0.75rem;
    color: var(--transparant);

    &:hover {
      color: var(--accent);
    }
  }
}

/* New Comment Input component */
.form-control {
  width: 100%;
  padding: 24px;
  display: flex;
  gap: 16px;
  background: var(--primaryClr);
  border-radius: var(--borderRadius8);

  & img {
    width: 40px;
    height: 40px;
  }
  & textarea {
    resize: none;
    width: 100%;
    min-height: 96px;
    padding: 12px 24px;
    text-align: top;
    border-radius: var(--borderRadius8);
    border: 1px solid var(--borderClr);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--textClr);
  }
}
