/* Init */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Variables */
:root {
  --backgroundClr: #f5f6fa;
  --primaryClr: #ffffff;
  --accent: #5357b6;
  --transparant: #c5c6ef;
  --headingClr: #334253;
  --textClr: #67727e;
  --warningClr: #ed6368;

  --font: "Rubik", sans-serif;
  --inspect: solid red 1px;
}

/* Main */
body {
  font-family: var(--font);
  background: var(--backgroundClr);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* display: grid;
  place-items: center; */
}

main {
  margin: 0 16px;
  /* border: var(--inspect); */
  width: 90vw;
  max-width: 730px;
}

/* Comments List */

/* Comment component */

.single-comment {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  min-height: 170px;
  background: var(--primaryClr);
  padding: 24px;
  border-radius: 8px;

  .comment-wrapper {
    .comment-header {
      display: flex;
      justify-content: space-between;
      /* align-items: center; */

      .user-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 15px;

        & img {
          width: 32px;
        }
        .user-name {
          font-size: 1rem;
          font-weight: 500;
          color: var(--headingClr);
        }
        .date {
          font-size: 1rem;
          font-weight: 400;
          color: var(--textClr);
        }
      }
      /* Redo to general btn */
      .reply-btn {
        border: none;
        display: flex;
        align-items: center;
        gap: 8px;
        background: none;
        height: fit-content;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        color: var(--accent);
        text-transform: capitalize;
        cursor: pointer;
        transition: 300ms ease;

        &:hover {
          color: var(--transparant);
        }
      }
    }
    .content-text {
      font-size: 1rem;
      font-weight: 400;
      color: var(--textClr);
      line-height: 24px;
    }
  }
}
