/* Init */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Variables */
:root {
  --backgroundClr: #f5f6fa;
  --primaryClr: #ffffff;
  --accent: #5357b6;
  --transparant: 0.4;
  --headingClr: #334253;
  --textClr: #67727e;
  --warningClr: #ed6368;
  --borderClr: #e9ebf0;

  --borderRadius8: 8px;
  --font: "Rubik", sans-serif;
  --inspect: solid red 1px;
}

/* Buttons */

.text-btn {
  border: none;
  background: none;
  height: fit-content;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: 250ms ease;

  &:hover {
    opacity: var(--transparant);
  }
}

.action-btn {
  border: none;
  border-radius: var(--borderRadius8);
  background: var(--accent);
  color: var(--primaryClr);
  min-width: 104px;
  height: 48px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: 250ms ease;

  &:hover {
    opacity: var(--transparant);
  }
}

.reply-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--accent);
}

.delete-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--warningClr);
}

.btn-wrapper {
  display: flex;
  gap: 20px;
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.btn-wrapper-mobile {
  display: flex;
  justify-content: space-between;
  align-items: start;

  @media only screen and (max-width: 600px) {
    align-items: end;
  }
}

.action-btns-wrapper {
  display: flex;
  gap: 20px;
}

.hide-on-desktop {
  display: none;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

/* Main Styles */

body {
  font-family: var(--font);
  background: var(--backgroundClr);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 60px 16px 0 16px;
}

main {
  width: 90vw;
  max-width: 730px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 30px 14px;
  }
  main {
    width: 100%;
  }
}

/* Modal Component*/

.fullscreen-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;

  .modal {
    background: var(--primaryClr);
    width: 400px;
    border-radius: var(--borderRadius8);
    padding: 32px;

    & h3 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      font-weight: 500;
    }
    & p {
      margin-bottom: 20px;
      color: var(--textClr);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
    }
    .cancel-btn {
      flex: 1;
      background: var(--textClr);
      /* &:hover {
        background-color: var(--transparant);
      } */
    }
    .confirm-delete-btn {
      flex: 1;
      background: var(--warningClr);
    }
  }
}

/* Comments List */

/* Comment & Reply components */

.single-comment,
.single-reply {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 170px;
  background: var(--primaryClr);
  padding: 24px;
  border-radius: var(--borderRadius8);

  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;
    padding: 16px;
  }

  .comment-wrapper,
  .reply-wrapper {
    /* border: var(--inspect); */
    width: 100%;

    .comment-header,
    .reply-header {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .user-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;

        & img {
          width: 32px;
        }
        .user-name {
          font-size: 1rem;
          font-weight: 500;
          color: var(--headingClr);
        }
        .user-flag {
          border-radius: 2px;
          border: none;
          padding: 3px 6px;
          background: var(--accent);
          color: var(--primaryClr);
          font-size: 0.813rem;
          font-weight: 500;
        }
        .date {
          font-size: 1rem;
          font-weight: 400;
          color: var(--textClr);
        }
      }
    }
    .content-text {
      font-size: 1rem;
      font-weight: 400;
      color: var(--textClr);
      line-height: 24px;

      & span {
        margin-right: 5px;
        font-weight: 500;
        color: var(--accent);
      }
    }
  }
}

/* Reply component specific */

.replies-container {
  margin-left: 40px;
  padding-left: 40px;
  border-left: 3px solid var(--borderClr);

  @media only screen and (max-width: 600px) {
    margin-left: 0;
    padding-left: 16px;
  }
}

/* Upvote component */

.upvote-container {
  border-radius: 10px;
  height: 100px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--backgroundClr);

  @media only screen and (max-width: 600px) {
    width: 100px;
    height: auto;
    padding: 12px;
    flex-direction: row;
  }

  .votes {
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent);
  }
  .vote-btn {
    font-size: 0.75rem;
    color: var(--transparant);

    &:hover {
      color: var(--accent);
    }
  }
}

/* New Comment Input component */

/* ---Desktop */
.form-control-desktop {
  width: 100%;
  padding: 24px;
  display: flex;
  gap: 16px;
  background: var(--primaryClr);
  border-radius: var(--borderRadius8);

  & img {
    width: 40px;
    height: 40px;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}
/* ---Mobile*/

.form-control-mobile {
  display: none;
  width: 100%;
  padding: 16px;
  background: var(--primaryClr);
  border-radius: var(--borderRadius8);

  .form-wrapper {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    & img {
      width: 32px;
      height: 32px;
    }
  }

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

& textarea {
  resize: none;
  width: 100%;
  min-height: 96px;
  padding: 12px 24px;
  text-align: top;
  border-radius: var(--borderRadius8);
  border: 1px solid var(--borderClr);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--textClr);
}
