.comment-set-wrapper {
  /* set */
  .comment {
    background: var(--primaryClr);
    border-radius: var(--borderRadius8);
    min-height: 167px;
    padding: 24px;
    display: flex;
    gap: 24px;

    .content-wrapper {
      position: relative;
      width: 100%;

      & header {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 16px;

        @media only screen and (max-width: 310px) {
          flex-direction: column;
          gap: 4px;
          align-items: flex-start;
        }

        & img {
          width: 32px;
        }

        .username {
          font-size: 1rem;
          font-weight: 500;
          color: var(--headingClr);
        }
        .badge {
          padding: 3px 6px;
          background: var(--accent);
          color: var(--primaryClr);
          font-size: 0.813rem;
          font-weight: 500;
          border-radius: 2px;
        }
        .timestamp {
          font-size: 1rem;
          font-weight: 400;
          color: var(--textClr);
        }
      }

      .text-content {
        font-size: 1rem;
        font-weight: 400;
        color: var(--textClr);
        line-height: 24px;

        @media only screen and (max-width: 320px) {
          margin-bottom: 20px;
        }
      }

      .btn-wrapper {
        position: absolute;
        top: 6px;
        right: 0;

        .delete-btn {
          margin-right: 22px;
          color: var(--warningClr);

          &:hover {
            color: #ffb8bb;
          }
        }

        @media only screen and (max-width: 500px) {
          top: auto;
          bottom: -50px;
        }
        @media only screen and (max-width: 320px) {
          bottom: -10px;
          left: 0;
        }
      }
    }

    @media only screen and (max-width: 500px) {
      padding: 16px;
      flex-direction: column-reverse;
    }
  }
}
