.vote-container {
  min-width: 40px;
  height: 100px;
  padding: 12px 0;
  background: var(--backgroundClr);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .score {
    color: var(--accent);
    font-size: 1rem;
    font-weight: 500;
  }
}
